@using Microsoft.Identity.Web


<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="navbar-img" src="@Configuration["static_url"]/assets/img/profile.png" />
                <span class="navbar-text">@User.Identity.Name</span>
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="EditProfile">edit profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">sign out</a>
            </div>

        </li>
    }
    else
    {
        <li class="nav-item pt-2">
        <a type="button" class="btn text-light" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">sign in</a>
        </li>
    }
</ul>
